body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spectraLogo {
  padding-top: 10;
  padding-left: 10;
}

body {
  margin: 0;

  padding: 0;

  font-weight: 600;

  line-height: 1;

  font-size: 18px;

  letter-spacing: 0.1em;

  color: black;

  font-family: Arial, Helvetica, sans-serif;
}



/* HEADER */



.spectraLogo {
  max-width: 350px;
  padding: 30px 60px 30px 30px;
}

.header-container {
  padding: 25px 25px;
  display: flex;
  flex-wrap: wrap;
}


.nav-btn {
  background-color: #e30d40;
  border-radius: 5px;
  width: fit-content;
  height: 40px;
  border: 1px solid black;
  margin: 5px;
  box-shadow: 2px 2px black;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-weight: bolder;
  text-shadow: 2px 2px black;
}

.nav-active {
  background-color: white;
  color: #e30d40;
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px black;

}




.pageTitle {
  color: #e30d40;
}





/* FAQ */

.question {
  font-weight: bold;
}

.answer {
  font-weight: lighter;
}

.faqList {
  padding: 10 10 10 10
}




/* SIGNUP */

.card-header {
  size: 20px;
  color: #e30d40;
  font-weight:900;
  text-shadow: 1px 1px lightgrey;
}

.signup-btn {
  background-color: #e30d40;
  border-radius: 5px;
  width: fit-content;
  height: 25px;
  align-items:flex-end;
  border: 1px solid black;
  margin: 5px;
  box-shadow: 1px 1px black;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  text-shadow: 1px 1px black;
}

.sm-icons {
  display: block;
}

.fbLogo {
  max-width: 100px;
}

.twLogo {
  max-width: 100px;
}

.igLogo {
  max-width: 112px;
}