body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spectraLogo {
  padding-top: 10;
  padding-left: 10;
}

body {
  margin: 0;

  padding: 0;

  font-weight: 600;

  line-height: 1;

  font-size: 1vw;

  letter-spacing: 0.1em;

  color: black;

  font-family: Arial, Helvetica, sans-serif;
}






/* /////////////// */
/* HEADER & NAVBAR */
/* /////////////// */

/* ///// REBUILDING IT ///// */

* {
  box-sizing: border-box;
}

.body {
  margin: o;
  padding: 0;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  width: 350px;
  justify-content: center;
}

.spectraLogo {
  width: 100%;
  height: auto;
  margin: 2rem 0 0 4rem
}

.navbar-links {
  height: 100%;
  margin: 0 2rem 0 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.8vw;
  font-weight: bolder;
  text-shadow: 2px 2px 5px black;
}

.navbar button {
  background-color: #e30d40;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  margin: 0.5rem;
}

.navbar button:hover {
  background-color: black;
}

.nav-link :active {
  background-color: black;
}

.menu-toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.menu-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #e30d40;
  color: white;
  border-radius: 10px;
}





/* ///////// OG HEAD & NAV ///////// */

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 100px 30px 100px;
  justify-content: center;
}

.spectraLogo {
  width: 25vw;
  padding: 30px 60px 30px 30px;
}

.header-container {
  padding: 25px 25px;
  display: flex;
  /* flex-wrap: wrap; */
}

.nav {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: flex-end;
  padding: 0 0 30px 0;
}

.nav-btn {
  background-color: #e30d40;
  border-radius: 5px;
  width: fit-content;
  height: 4vw;
  /* border: 1px solid black; */
  margin: 5px;
  box-shadow: 2px 2px 5px black;
}


/* .nav-link:hover {
  background-color: black;
  color: #e30d40;
  text-shadow: 2px 2px 5px black;
} */

/* 
.nav-active {
  background-color: white;
  color: #e30d40;
  text-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
} */









/* LISTINGS  */

.listingsTitle {
  margin: 30px 100px 30px 100px;
  font-size: 1.8vw;
  color: #e30d40;
  font-weight: 900;
  text-shadow: 2px 2px lightgrey;
}

.event-card {
  display: flex;

  border: 0.5px solid black;
  border-radius: 5px;
  width: 55vw;;
  margin: 30px 100px 30px 100px;
  box-shadow: 2px 2px 5px;
}

.card-img {
  justify-content: flex-start;
  max-width: 30vw;
  height: 17vw;
  border-radius: 5px;
  padding: 15px;
}

.card-body {
  flex-wrap: wrap;
  padding: 8px 15px 30px 5px;
  font-size: 1.4vw;
  line-height: 3px;
}

.card-body p {
  font-size: 1.2vw;
}


.tik-btn-container {
  justify-content: flex-end;
}

.ticket-btn {
  background-color: #e30d40;
  justify-content: flex-end;
  border-radius: 5px;
  width: fit-content;
  height: 30px;
  border: 1px solid black;
  margin: 5px;
  box-shadow: 2px 2px 3px black;
}

.ticket-link {
  color: white;
  font-size: 1.4vw;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
  text-decoration: none;
}





/* SIGNUP */

.flex-container {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid black; */
  margin: auto;
  text-align: center;
  max-width: 30vw;
  max-height: 50vw;
}

.signup-card {
  display: flex;
  /* border: 1px solid black; */
  /* max-width: 350px; */
  max-height: 400px;
 
}

.card {
  margin: 50px;
  padding: 0 5px 0 5px;
}

.card-header {
  font-size: 1.8vw;
  color: #e30d40;
  font-weight: 900;
  text-shadow: 1px 1px lightgrey;
  padding: none;
}

.form {
  display: flex;
}

.form-body {
  align-items: center;
}

.form-input {
  box-shadow: 1px 1px 2px;
  border: 0.1px solid black;
}

.signup-btn {
  background-color: #e30d40;
  border-radius: 5px;
  width: fit-content;
  height: 25px;
  align-items: flex-end;
  border: 1px solid black;
  margin: 5px;
  box-shadow: 2px 2px 3px black;
  text-decoration: none;
  color: white;
  font-size: 1.3vw;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

.sm-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fbLogo {
  max-width: 5vw;
  padding: 8px;
}

.twLogo {
  max-width: 5vw;
  padding: 8px;
}

.igLogo {
  max-width: 5.25vw;
  padding: 3px 8px 5px 3px;
}





/* CONTACT */

.contactPage {
  display: flex;
  flex-direction: column;
  font-size: 1.55vw;
  margin: 30px 100px 30px 100px;
}

.pageTitle {
  font-size: 1.8vw;
  color: #e30d40;
  font-weight: 900;
  text-shadow: 2px 2px lightgrey;
}





/* FAQ */

.faqList {
  display: flex;
  flex-direction: column;
  margin: 30px 100px 30px 100px;
}

.question {
  font-weight: bold;
  font-size: 1.35vw;
}

.answer {
  font-weight: lighter;
  font-size: 1.25vw;
}











/* ///////////// */
/* MEDIA QUERIES */
/* ///////////// */


@media screen and (max-width: 1200px) {
  .spectraLogo {
    width: 100%;
    height: auto;
    
    
  }
}

@media screen and (max-width: 1024px) {
  .spectraLogo {
    width: 100%;
    height: auto;
    
    
  }
}

@media screen and (max-width: 900px) {
  .spectraLogo {
    width: 100%;
    height: auto;
    
    
  }
}


@media screen and (max-width: 840px) {
  .spectraLogo {
    width: 100%;
    height: auto;
    
    
  }

}


@media screen and (max-width: 768px) {
  .spectraLogo {
    width: 85%;
    height: auto;
  }

  .menu-toggle {
    position: absolute;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li button {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

}


@media screen and (max-width: 600px) {



}

@media screen and (max-width: 400px) {
  .spectraLogo {
    width: 70%;
    height: auto;
  }
}
